langchain==0.3.26
langchain-community==0.3.26
flask==3.1.1
pypdf==5.6.1
python-dotenv==1.1.0
pinecone-client==4.1.0
langchain-pinecone==0.2.8

# 👇 التغيير هنا: شيلنا أرقام الإصدارات عشان هو يوفقهم مع بعض
langchain-google-genai
google-generativeai